version: '3.9'
services:
  redis:
    image: redis:7-alpine
    container_name: Abril_redis_dev
    env_file: ./db/.env
    command: ['redis-server','--appendonly','yes','--requirepass','${REDIS_PASSWORD}']
    volumes:
      - redis_data:/data
    ports:
      - '6379:6379'
    restart: unless-stopped

  api_asistente:
    build: { context: ./backend/asistente, target: dev }
    container_name: Abril_api_asistente_dev
    env_file: ./backend/asistente/.env
    volumes:
      - ./backend/asistente/app:/code
    environment:
      CHOKIDAR_USEPOLLING: "true"
    depends_on: [redis]
    ports:
      - '8000:80'
    restart: unless-stopped

  api_socket:
    build: { context: ./backend/socket, target: dev }
    container_name: Abril_api_socket_dev
    env_file: ./backend/socket/.env
    volumes:
      - ./backend/socket/app:/code
    environment:
      CHOKIDAR_USEPOLLING: "true"
    depends_on: [redis]
    ports:
      - '8001:80'
    restart: unless-stopped

volumes:
  redis_data:
